<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa Status</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background: #CDB3D4;">
      <div class="container" style="font-family: 'Chaparral Pro';">
        <br><br><br>
        <h1 style="text-align:center;font-weight: bold;">Halo, Apa Kabar?</h1>
        <form method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <br/>
                {{form.Comment}}
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-1"></div>
              <button type="submit">Status</button>
          </div>
                <br>
                {% for hasil in list_status %} <br>
                <a>{{hasil.date}}</a>  <br>
                <p>"{{hasil.Comment}} "</p>
                {%endfor%}
        </form>
      </div>
    </div>